<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SpiteShop_Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">       
       
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/bindProp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bind Properties
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/DemoProduct">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Demo Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/parentComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parent/Child Relation
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/LearnRouting">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Routing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/blazorJs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blazor JavaScript
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/LifeCycle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Life Cycle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/category">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Category List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/product">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product List
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="/productPrice">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product Price List
            </NavLink>
        </div>*@
    </nav>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

